body {
    background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.meme {
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

img {
    border: solid white;
}